In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('graduation_dataset.csv')

In [3]:
data.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [4]:
data=pd.read_excel('cancer patient data sets.xlsx')

In [7]:
data.head(61)

,Patient Id,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,Balanced Diet,...,Fatigue,Weight Loss,Shortness of Breath,Wheezing,Swallowing Difficulty,Clubbing of Finger Nails,Frequent Cold,Dry Cough,Snoring,Level
0,P1,33,1,2,4,5,4,3,2,2,...,3,4,2,2,3,1,2,3,4,Low
1,P10,17,1,3,1,5,3,4,2,2,...,1,3,7,8,6,2,1,7,2,Medium
2,P100,35,1,4,5,6,5,5,4,6,...,8,7,9,2,1,4,6,7,2,High
3,P1000,37,1,7,7,7,7,6,7,7,...,4,2,3,1,4,5,6,7,5,High
4,P101,46,1,6,8,7,7,7,6,7,...,3,2,4,1,4,2,4,2,3,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,P149,52,2,3,2,1,2,3,5,1,...,1,1,1,3,2,3,2,3,3,Low
57,P15,53,2,4,5,6,5,5,4,6,...,8,7,9,2,1,4,6,7,2,High
58,P150,44,2,2,3,2,1,3,2,1,...,2,2,3,2,1,2,3,2,3,Low
59,P151,38,2,2,3,5,2,1,1,1,...,2,1,3,4,6,1,3,2,2,Low
60,P152,62,2,3,2,1,3,2,4,5,...,4,3,2,1,2,4,2,3,2,Low

In [8]:
print(data)

    Patient Id  Age  Gender  Air Pollution  Alcohol use  Dust Allergy  \
0           P1   33       1              2            4             5
1          P10   17       1              3            1             5
2         P100   35       1              4            5             6
3        P1000   37       1              7            7             7
4         P101   46       1              6            8             7
..         ...  ...     ...            ...          ...           ...
995       P995   44       1              6            7             7
996       P996   37       2              6            8             7
997       P997   25       2              4            5             6
998       P998   18       2              6            8             7
999       P999   47       1              6            5             6

     OccuPational Hazards  Genetic Risk  chronic Lung Disease  Balanced Diet  \
0                       4             3                     2              2
1                       3             4                     2              2
2                       5             5                     4              6
3                       7             6                     7              7
4                       7             7                     6              7
..                    ...           ...                   ...            ...
995                     7             7                     6              7
996                     7             7                     6              7
997                     5             5                     4              6
998                     7             7                     6              7
999                     5             5                     4              6

     ...  Fatigue  Weight Loss  Shortness of Breath  Wheezing  \
0    ...        3            4                    2         2
1    ...        1            3                    7         8
2    ...        8            7                    9         2
3    ...        4            2                    3         1
4    ...        3            2                    4         1
..   ...      ...          ...                  ...       ...
995  ...        5            3                    2         7
996  ...        9            6                    5         7
997  ...        8            7                    9         2
998  ...        3            2                    4         1
999  ...        8            7                    9         2

     Swallowing Difficulty  Clubbing of Finger Nails  Frequent Cold  \
0                        3                         1              2
1                        6                         2              1
2                        1                         4              6
3                        4                         5              6
4                        4                         2              4
..                     ...                       ...            ...
995                      8                         2              4
996                      2                         4              3
997                      1                         4              6
998                      4                         2              4
999                      1                         4              6

     Dry Cough  Snoring   Level
0            3        4     Low
1            7        2  Medium
2            7        2    High
3            7        5    High
4            2        3    High
..         ...      ...     ...
995          5        3    High
996          1        4    High
997          7        2    High
998          2        3    High
999          7        2    High

[1000 rows x 25 columns]

In [9]:
data.tail(9)

,Patient Id,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,Balanced Diet,...,Fatigue,Weight Loss,Shortness of Breath,Wheezing,Swallowing Difficulty,Clubbing of Finger Nails,Frequent Cold,Dry Cough,Snoring,Level
991,P991,37,1,8,8,7,7,7,6,7,...,3,2,4,1,4,2,4,2,3,High
992,P992,26,2,7,7,7,7,7,6,7,...,2,7,6,7,6,7,2,3,1,High
993,P993,37,2,7,7,7,7,6,7,7,...,4,2,3,1,4,5,6,7,5,High
994,P994,33,1,6,7,7,7,7,7,6,...,8,5,7,6,7,8,7,6,2,High
995,P995,44,1,6,7,7,7,7,6,7,...,5,3,2,7,8,2,4,5,3,High
996,P996,37,2,6,8,7,7,7,6,7,...,9,6,5,7,2,4,3,1,4,High
997,P997,25,2,4,5,6,5,5,4,6,...,8,7,9,2,1,4,6,7,2,High
998,P998,18,2,6,8,7,7,7,6,7,...,3,2,4,1,4,2,4,2,3,High
999,P999,47,1,6,5,6,5,5,4,6,...,8,7,9,2,1,4,6,7,2,High